* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: #474747;
}

a {
  text-decoration: none;
  color: #7350a0;
  font-weight: 600;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  background-color: #f0f0f0;
  padding: 1rem;
}

.logo img {
  height: 3rem;
  width: auto;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 1rem;
}
